<?xml version="1.0"?>
<config>
    <modules>
        <Redstage_PreviewProduct>
            <version>1.0.0.0</version>
        </Redstage_PreviewProduct>
    </modules>
    <global>
        <blocks>
            <previewproduct>
                <class>Redstage_PreviewProduct_Block</class>
            </previewproduct>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit>Redstage_PreviewProduct_Block_Adminhtml_Catalog_Product_Edit</catalog_product_edit>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <previewproduct>
                <class>Redstage_PreviewProduct_Helper</class>
            </previewproduct>
        </helpers>
        <models>
            <previewproduct>
                <class>Redstage_PreviewProduct_Model</class>
            </previewproduct>
        </models>
    </global>
    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <Redstage_PreviewProduct before="Mage_Catalog">Redstage_PreviewProduct</Redstage_PreviewProduct>
                    </modules>
                </args>
            </catalog>
        </routers>
        <layout>
            <updates>
                <previewproduct>
                    <file>previewproduct.xml</file>
                </previewproduct>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <Redstage_PreviewProduct before="Mage_Adminhtml">Redstage_PreviewProduct_Adminhtml</Redstage_PreviewProduct>
                    </modules>
                </args>
            </catalog>
        </routers>
    </admin>
</config>