<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Onsaleproductlist>
            <version>0.1.0</version>
        </Magentothem_Onsaleproductlist>
    </modules>
    <frontend>
        <routers>
            <onsaleproductlist>
                <use>standard</use>
                <args>
                    <module>Magentothem_Onsaleproductlist</module>
                    <frontName>onsaleproductlist</frontName>
                </args>
            </onsaleproductlist>
        </routers>
        <layout>
            <updates>
                <onsaleproductlist>
                    <file>onsaleproductlist.xml</file>
                </onsaleproductlist>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<onsaleproductlist>
				<use>admin</use>
				<args>
					<module>Magentothem_Onsaleproductlist</module>
					<frontName>onsaleproductlist</frontName>
				</args>
			</onsaleproductlist>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<onsaleproductlist>
					<file>onsaleproductlist.xml</file>
				</onsaleproductlist>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <onsaleproductlist>
                <class>Magentothem_Onsaleproductlist_Model</class>
                <resourceModel>onsaleproductlist_mysql4</resourceModel>
            </onsaleproductlist>
            <onsaleproductlist_mysql4>
                <class>Magentothem_Onsaleproductlist_Model_Mysql4</class>
                <entities>
                    <onsaleproductlist>
                        <table>onsaleproductlist</table>
                    </onsaleproductlist>
                </entities>
            </onsaleproductlist_mysql4>
        </models>
        <resources>
            <onsaleproductlist_setup>
                <setup>
                    <module>Magentothem_Onsaleproductlist</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </onsaleproductlist_setup>
            <onsaleproductlist_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </onsaleproductlist_write>
            <onsaleproductlist_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </onsaleproductlist_read>
        </resources>
        <blocks>
            <onsaleproductlist>
                <class>Magentothem_Onsaleproductlist_Block</class>
            </onsaleproductlist>
        </blocks>
        <helpers>
            <onsaleproductlist>
                <class>Magentothem_Onsaleproductlist_Helper</class>
            </onsaleproductlist>
        </helpers>
    </global>
	<default>
		<onsaleproductlist>
			<onsaleproductlist_config>
				<enabled>1</enabled>
				<title>MA New Products</title>
				<sort>name</sort>
				<direction>asc</direction>
				<addtocart>1</addtocart>
				<addtowishlist>1</addtowishlist>
				<addtocompare>1</addtocompare>
				<review>0</review>
				<description>0</description>
				<qty>9</qty>
				<items>3</items>
				<width>135</width>
				<height>135</height>
			</onsaleproductlist_config>
		</onsaleproductlist>
	</default>
</config>